.modal-info-footer {
	position: relative;
	width: 100%;
	bottom: 10px;
}
.modal-info-footer #btn-edit,#btn-delete {
	width: 20%;
    float: right;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: 0;
    background: rgb(78 78 78);
}
.modal-info-footer #btn-edit:hover,#btn-delete:hover {
	background: #000000cc;
}