<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App gì chưa biết</title>
    <link rel="stylesheet" href="/asset/css/base.css">
    <link rel="stylesheet" href="/asset/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./asset/font/fontawesome-free-6.1.2-web/fontawesome-free-6.1.2-web/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
    <div class="app">
        <div class="grid">
            <div class="header">
                <div class="header__navbar">
                    <ul class="header__navbar-list" >
                        <li class="header__navbar-item" style="margin-bottom: 20px;">
                            <div class="header__navbar-subnav">
                                <i class="header__navbar-icon ic-toggle1 bx bx-color"></i>
                            </div>
                                
                            <div class="header__navbar-nameapp">
                                <img src="https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg" alt="Google" class="header__navbar-logo">
                                <h2 class="app-name">Điểm danh nè</h2>
                            </div>                            
                        </li>                        
                    </ul>
                    <ul class="header__navbar-list" style="padding-bottom: 4px">
                        <li class="header__navbar-item">
                            <div class="header__create-class">
                                <i class=" header__navbar-icons fa-solid fa-plus"></i>
                            </div>
                        </li>                    
                        <li class="header__navbar-item">
                            <div class="header__user">
                                <img src="https://yt3.ggpht.com/yti/AJo0G0lVjklZlxdA7Xr4SUz_e374JoOUuFIZY0E7bAm2=s88-c-k-c0x00ffffff-no-rj-mo" class="header__img-user" alt="">
                                <div class="header__user-item" >
                                    <img src="https://yt3.ggpht.com/yti/AJo0G0lVjklZlxdA7Xr4SUz_e374JoOUuFIZY0E7bAm2=s88-c-k-c0x00ffffff-no-rj-mo" alt="" class="header__user-item-img">
                                    <h3 class="header__user-item-name">example@gmail.com</h3>
                                    <button class="header__user-item-btn btn-shadow btn-primary">Quản lí tài khoản Google của bạn</button>
                                    <div class="clear"></div>
                                    <button class="header__user-item-btn btn-logout btn-shadow">Đăng xuất</button>
                                    
                                </div>
                        </li>
                            
                            
                                
                            </div>
                        </li>
                    </ul>
                    
                </div>
                
            </div>
            <div class="sidebar">
                 
                <i class="icon-tog ic-toggle2 bx bx-color"></i>
                
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <i class="sidebar-item-icon bx bx-user-circle"></i>
                        <span class="sidebar-item-desc">Hồ sơ cá nhân</span>
                    </li>
                    <li class="sidebar-list-item">
                        <i class="sidebar-item-icon bx bx-book-content"></i>
                        <span class="sidebar-item-desc">Danh sách lớp</span>
                    </li>
                    <!-- <li class="sidebar-list-item">
                        <i class="sidebar-item-icon bx bx-layer"></i>
                        <span class="sidebar-item-desc">Phân tích</span>
                    </li>                 -->
                    <li class="sidebar-list-item">
                        <i class="sidebar-item-icon bx bx-brightness"></i>
                        <span class="sidebar-item-desc">Cài đặt</span>
                    </li>
                </ul>
            </div> 
            <div class="container text-center">
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 align-items-start list-class mt-30">
                    <div class="col item-class rounded-3">    
                        <div class="item_class-item">                            
                            <a class="item_class-title">
                                19DTHJB1
                            </a>
                        </div>
                        <div class="item_class-item">
                            <div class="item_class-namesub">
                                NIHONGO
                            </div>
                        </div>                       
                        
                    </div>   
                     
                    
                    <div class="col item-class rounded-3">    
                        <div class="item_class-item">                            
                            <a class="item_class-title">
                                19DTHJB1
                            </a>
                        </div>
                        <div class="item_class-item">
                            <div class="item_class-namesub">
                                NIHONGO
                            </div>
                        </div>                       
                        
                    </div>                    
                    <div class="col item-class rounded-3">    
                        <div class="item_class-item">                            
                            <a class="item_class-title">
                                19DTHJB1
                            </a>
                        </div>
                        <div class="item_class-item">
                            <div class="item_class-namesub">
                                NIHONGO
                            </div>
                        </div>                       
                        
                    </div>                    
                    <div class="col item-class rounded-3">    
                        <div class="item_class-item">                            
                            <a class="item_class-title">
                                19DTHJB1
                            </a>
                        </div>
                        <div class="item_class-item">
                            <div class="item_class-namesub">
                                NIHONGO
                            </div>
                        </div>       
                                        
                        
                    </div>   
                                     
                                    
                    <div class="col item-class rounded-3">    
                        <div class="item_class-item">                            
                            <a class="item_class-title">
                                19DTHJB1
                            </a>
                        </div>
                        <div class="item_class-item">
                            <div class="item_class-namesub">
                                NIHONGO
                            </div>
                        </div>                       
                        
                    </div>                  

                </div>
            </div>         
            
        </div>
    </div>

</body>
<script src="./asset/script/app.js"></script>

</html>